form {
  position: relative;
  padding: 20px 0px;
}
form .form-control {
  display: inline;
  width: 100%;
  border-radius: 20px;
  background-color: transparent;
}
form .form-control:focus {
  outline: none;
  border: 1px solid #b87a7a;
  box-shadow: 0 0 8px #cdaebd;
}
form input {
  background-color: transparent;
  padding: 15px;
  width: 90%;
  border-radius: 30px;
  border: 1px solid #b87a7a;
  margin-top: 2px;
}
form input:focus {
  outline: none;
  border: 1px solid #b87a7a;
  box-shadow: 0 0 8px #cdaebd;
}
form ::placeholder {
  color: #f96262;
}
form .btn {
  border: none;
  display: inline;
  position: absolute;
  right: 0;
  top: 20px;
  cursor: pointer;
  padding: 11px 33px;
  border-radius: 30px;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  opacity: 1;
  box-shadow: -4px 6px 10px 3px rgba(247, 166, 166, 0.8);
  transition: 0.3s;
}
form .btn:hover {
  background: linear-gradient(135deg, #f2a1a1, #ee8c8c);
  transform: scale(1.1);
}
form .btn:focus {
  box-shadow: none;
}