main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "img-container" "text-container" "footer";
}

.text-container {
  background-image: url("../images/bg-pattern-desktop.svg"), linear-gradient(135deg, snow, #f9f0f0);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  grid-area: text-container;
  flex-direction: column;
  padding: 20px 20px 50px 20px;
  text-align: center;
}
.text-container .title {
  padding-top: 50px;
  font-size: 3.7rem;
  line-height: 4rem;
  letter-spacing: 8px;
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 400;
  text-transform: uppercase;
}
.text-container .signup {
  color: #ce9797;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.img-container {
  display: flex;
  grid-area: img-container;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.img-container img {
  width: 100%;
  height: auto;
}

span {
  color: #ce9797;
  font-weight: 300;
}