main {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.text-container {
  background-image: url("../images/bg-pattern-desktop.svg"), linear-gradient(135deg, snow, #f9f0f0);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 50px 20px;
  text-align: center;
}
.text-container .title {
  padding-top: 50px;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 8px;
  margin-bottom: 0px 0px 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #b87a7a;
}
.text-container .signup {
  color: #b87a7a;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0px 20px;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.img-container img {
  width: 100%;
  height: auto;
}

span {
  color: #b87a7a;
  font-weight: 300;
}