main {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.text-container {
  background-image: url("../images/bg-pattern-desktop.svg"), linear-gradient(135deg, snow, #f9f0f0);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 50px 20px;
  text-align: center;
}
.text-container .title {
  padding-top: 50px;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 8px;
  margin-bottom: 0px 0px 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #b87a7a;
}
.text-container .signup {
  color: #b87a7a;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0px 20px;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.img-container img {
  width: 100%;
  height: auto;
}

span {
  color: #b87a7a;
  font-weight: 300;
}

form {
  display: flex;
  position: relative;
}

input {
  background-color: transparent;
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: 1px solid #b87a7a;
}

::placeholder {
  color: #b87a7a;
}

button {
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: 9px 33px;
  border-radius: 30px;
  border: 1px solid #b87a7a;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  opacity: 1;
  box-shadow: -4px 6px 10px 3px rgba(247, 166, 166, 0.8);
  transition: 0.3s;
}
button:hover {
  background: linear-gradient(135deg, #f2a1a1, #ee8c8c);
  transform: scale(1.1);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
  }

  .text-container {
    width: 50%;
    padding: 60px 10px 0px 30px;
    text-align: left;
  }
  .text-container .signup {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0px;
  }
  .text-container .title {
    font-size: 3.3rem;
    line-height: 3.5rem;
    padding-top: 10px;
  }

  .text {
    padding-right: 50px;
  }

  .img-container {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1110px) {
  main {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .text-container {
    padding: 60px 10px 0px 130px;
    text-align: left;
    width: 50%;
  }
  .text-container .signup {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
    padding: 0px;
  }
  .text-container .title {
    font-size: 4rem;
    line-height: 4.3rem;
    padding: 80px 0px 10px;
    margin: 0;
  }

  .text {
    padding-right: 50px;
  }

  .img-container {
    width: 50%;
  }
}
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}