@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
  }

  .text-container {
    width: 55%;
    padding: 60px 10px 30px 30px;
    text-align: left;
  }
  .text-container .signup {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0px;
  }
  .text-container .title {
    font-size: 3rem;
    line-height: 3.1rem;
    padding-top: 50px;
  }

  .text {
    padding-right: 50px;
  }

  .img-container {
    justify-content: flex-start;
    width: 45%;
  }

  form .btn {
    padding: 5px 25px;
  }
}
@media screen and (min-width: 1110px) {
  main {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .text-container {
    padding: 60px 10px 0px 130px;
    text-align: left;
    width: 50%;
  }
  .text-container .signup {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
    padding: 0px;
  }
  .text-container .title {
    font-size: 4rem;
    line-height: 4.3rem;
    padding: 80px 0px 10px;
    margin: 0;
  }

  .text {
    padding-right: 50px;
  }

  .img-container {
    width: 50%;
  }
}