@use 'variables';

form {
    display: flex;
    position: relative;

}

input {
    background-color: transparent;
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: 1px solid variables.$desaturated-red;
}

::placeholder {
    color: variables.$desaturated-red;
}

button {
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 9px 33px;
    border-radius: 30px;
    border: 1px solid variables.$desaturated-red;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    opacity: 1;
    box-shadow: -4px 6px 10px 3px hsl(0, 84%, 81%, 0.8);
    transition: 0.3s;

    &:hover {
        background: linear-gradient(135deg, hsl(0, 75%, 79%), hsl(0, 74%, 74%));
        transform: scale(1.1);
    }
}