@use 'variables';

form {
    position: relative;

    .form-control {
        display: inline;
        width: 80%;
        border-radius: 15px;

        &:focus {
            outline: none;
            border: 1px solid variables.$desaturated-red;
            box-shadow: 0 0 8px #cdaebd;
        }
    }

    input {
        background-color: transparent;
        padding: 15px;
        width: 90%;
        border-radius: 30px;
        border: 1px solid variables.$desaturated-red;

        &:focus {
            outline: none;
            border: 1px solid variables.$desaturated-red;
            box-shadow: 0 0 8px #cdaebd;
        }
    }


    ::placeholder {
        color: variables.$desaturated-red;
    }

    .btn {
        display: inline;
        cursor: pointer;
        padding: 9px 33px;
        border-radius: 30px;
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        opacity: 1;
        box-shadow: -4px 6px 10px 3px hsl(0, 84%, 81%, 0.8);
        transition: 0.3s;

        &:hover {
            background: linear-gradient(135deg, hsl(0, 75%, 79%), hsl(0, 74%, 74%));
            transform: scale(1.1);
        }

        &:focus {
            box-shadow: none;
            
        }
    }
}