@use 'variables';
@use "mixins";

form {
    position: relative;
    padding: 20px 0px;

    @include mixins.tablet-only {
        width: 90%;
    }

    .form-control {
        display: inline;
        width: 100%;
        border-radius: 20px;
        background-color: transparent;

        &:focus {
            outline: none;
            border: 1px solid variables.$desaturated-red;
            box-shadow: 0 0 8px #cdaebd;
        }

        @include mixins.tablet-only {
            width: 85%;
        }

        @include mixins.desktop-only {
            width: 90%;
            padding: 10px 20px;
        }
    }

    input {
        background-color: transparent;
        padding: 15px;
        width: 90%;
        border-radius: 30px;
        border: 1px solid variables.$desaturated-red;
        margin-top: 2px;

        &:focus {
            outline: none;
            border: 1px solid variables.$desaturated-red;
            box-shadow: 0 0 8px #cdaebd;
        }

        @include mixins.tablet-only {
            margin-top: 3px;
        }

       
    }


    ::placeholder {
        color: variables.$soft-red;
    }

    .btn {
        border: none;
        display: inline;
        position: absolute;
        right: 0;
        top: 20px;
        cursor: pointer;
        padding: 11px 25px;
        border-radius: 30px;
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        opacity: 1;
        box-shadow: -4px 6px 10px 3px hsl(0, 84%, 81%, 0.8);
        transition: 0.3s;

        &:hover {
            background: linear-gradient(135deg, hsl(0, 75%, 79%), hsl(0, 74%, 74%));
            transform: scale(1.1);
        }

        &:focus {
            box-shadow: none;
        }

        @include mixins.tablet-only {
            right: 20px;
            padding: 12px 25px;
        }

        @include mixins.desktop-only {
            padding: 13px 34px;
        }
    }
}