@media screen and (min-width: 768px) {
    header {
        position: fixed;
        z-index: 1;

        img {
            width: 100%;
        }
    }

    main {
        display: flex;
        flex-direction: row;
    }

    .text-container {
        width: 55%;
        padding: 60px 10px 30px 30px;
        text-align: left;

        .signup {
            font-size: 1.2rem;
            font-weight: 300;
            padding: 0px;
        }

        .title {
            font-size: 3rem;
            line-height: 3.1rem;
            padding-top: 80px;
        }
    }

    .text {
        padding-right: 50px;
    }

    .img-container {
        justify-content: flex-start;
        width: 45%;
    }

    form {
        width: 90%;

        input {
            margin-top: 3px;
        }

        .form-control {
            width: 85%;

            .btn {
                right: 20px;
                padding: 12px 25px;
            }
        }
    }
}

@media screen and (min-width: 1110px) {
    main {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    header {
        padding: 40px 0px 0px 130px;
    }

    .form-control {
        width: 70%;
        padding: 10px 20px;
    }

    form .btn {
        padding: 13px 34px;
    }

    .text-container {
        padding: 60px 100px 0px 130px;
        text-align: left;
        width: 60%;

        .signup {
            font-size: 1.3rem;
            line-height: 2rem;
            font-weight: 300;
            padding: 0px;
        }

        .title {
            font-size: 4rem;
            line-height: 4.3rem;
            padding: 120px 0px 10px;
            margin: 0;

        }

        .black-title {
            font-weight: 500;
        }
    }

    .text {
        padding-right: 50px;
    }

    .img-container {
        width: 40%;
    }
}