@media screen and (min-width: 768px) {
    main {
        display: grid;
        height: 100vh;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "text-container img-container"
            "footer footer";
    }

    .text-container {
        padding: 60px 100px 0px 130px;
        text-align: left;
    }

    .text {
        padding-right: 50px;
    }    
}